@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.grecaptcha-badge{
    display: none;
}
body{
    background: #000;
}
.mobile{
    display: none;
}
.content{
    width: 100%;
    text-align: center;
    max-width: 1500px;
}

.topbar-container{
    background: #333;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}

.topbar-container .topbar-wrap{
    max-width: 1540px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 22px 0;
    justify-content: center;
    align-items: center;
}

.topbar-container .topbar-wrap .meun-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}
.topbar-container .topbar-wrap .meun-wrap img{
    width: 30px;
    position: relative;
    bottom: 2px;
}
.topbar-container .topbar-wrap .meun-wrap .meunlist-wrap{
    text-align: center;
    list-style: none;
    overflow: hidden;
}
.topbar-container .topbar-wrap .meun-wrap .meunlist-wrap a{
    position: relative;
    top: 0px !important;
}

.meunlist{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: larger;
    gap:35px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #333333;
    align-items: center;
}

.meunlist a{
    color: #FFF;
}

.meunlist a:hover {
    color: #FFF100;
}

.topbar-container .topbar-wrap .meun-wrap .meun{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #333333;
}



.page1{
    background: #000000;
    background: url("../img/page1-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    padding: 0px;
    margin-top: 73.5px;
}


.page1 .tit{
    display: block;
    width:50%;
    margin: 66px auto 0;
    max-width: 400px;
}

.page1 .rogo{
    display: block;
    width: 50%;
    margin: auto;
    max-width: 400px;
    margin: 44px auto 0;
}

.page1 .img{
    display: block;
    width: 50%;
    margin: 35px auto 0;
    max-width: 859px;
}

.page1 .img1{
    display: none;
}


.page2{
    background: #000000;
    text-align: center;
    overflow: hidden;
}

.page2 .textbox{
    display: block;
    width: 80%;
    margin: auto;
    max-width: 680px;
    margin: 60px auto;
}

.page2 .textbox1{
    display: none;
}

.page2 .tit{
    display: block;
    width: 70%;
    margin: 90px auto 0;
    max-width: 680px;
}

.page2 .page2-box{
    display: flex;
    margin: 40px auto 40px;
    max-width: 1340px;
    justify-content: center;
    gap: 50px;
    padding: 60px;
}

.page2 .page2-box img{
    max-width: 480px;
    width: 30%;
}

.page2 .page2-box-mo{
    display: none;
}



.page3{
    background: #226A4E;
    padding: 130px 0 130px;
    text-align: center;
    overflow: hidden;

}

.page3 .tit{
    display: block;
    width: 100%;
    margin: 0px auto 60px;
    max-width: 622px;
}

.page3 .meun{
    display: flex;
    margin: 0px auto 0px;
    max-width: 1300px;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 60px;
    align-items: flex-start;

}

.page3 .meun img{
    width: 13%;
    max-width: 200px;
}

.page3 .tit1{
    display: block;
    width: 100%;
    margin: 110px auto 40px;
    max-width: 234px;
}

.page3 .side{
    display: flex;
    margin: 0px auto 0px;
    max-width: 1000px;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 60px;
    align-items: flex-start;

}

.page3 .side img{
    width: 20%;
    max-width: 200px;
}



.page4{
    background:#1A2621;
    padding: 140px 0 140px;
    text-align: center;
    overflow: hidden;
}

.page4 .text{
    display: block;
    width: 100%;
    margin: 0 auto 80px;
    max-width: 475px;
}

.page4 .link{
    display: flex;
    margin: 0px auto 0px;
    max-width: 1330px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.page4 .link img{
    width: 40%;
    max-width: 630px;
    margin: 0 auto 80px;
}
.page4 .link .video-wrap{
    width: 40%;
    max-width: 630px;
    margin: 0 auto 80px;
}
.page4 .link .video-wrap video{
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}
.page4 .text1{
    display: block;
    width: 100%;
    margin: 0 auto 60px;
    max-width: 430px;
}

.page4 .img{
    display: block;
    width: 100%;
    margin: 0 auto 80px;
    max-width: 640px;
}

.page4 .img img{
    width: 100%;
}

.page4 .text2{
    display: block;
    width: 100%;
    margin: 0 auto 80px;
    max-width: 380px;
}

.page4 .menu-slide-container img{
    width: 100%;
}



.page5{
    background: #226A4E;
    padding: 140px 0 100px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.page5 .search-slide-container img{
    width: 100%;
}
.page5 .search-slide-container {
    margin-bottom: 100px !important;
}
.page5 .text{
    display: block;
    width: 50%;
    margin: 0 auto 20px;
    max-width: 450px;
}
.page5 .textAdd {
    display: block;
    width: 70%;
    margin: 0 auto 80px;
    max-width: 760px;
}
.page5 .img-wrap{
    max-width: 860px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.page5 .img-wrap img{
    width: calc(33% - 10px);
}
.page5 .haesung{
    width: 100%;
    margin: 0 auto 0;
    position: relative;
}

.page5 .haesung img{
    max-width: 890px;
    width: 70%;
}

.page5 .map{
    max-width: 1200px;
    margin: 100px auto 0;
    position: relative;
}

.page5 .map .map-img{
    width: 100%;
    max-width: 560px;
    position: relative;
    z-index: 2;
}
.page5 .map .star{
    position: absolute;
    top: -57%;
    left: 0;
    width: 100%;
    z-index: 1;
}

.page5 .map1{
    display: none;
}


.page5 .text2{
    display: block;
    width: 100%;
    margin: 150px auto 70px;
    max-width: 580px;
}

.page5 .text3{
    display: block;
    width: 100%;
    margin: 100px auto 80px;
    max-width: 200px;
}

.page5 .open{
    display: flex;
    margin: 0px auto 0px;
    max-width: 1300px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.page5 .open img{
    width: 25%;
    max-width: 400px;
}

.page5 .open-mo{
    display: none;
}



.page5 .text4{
    display: flex;
    margin: 0px auto 0px;
    max-width: 1140px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.page5 .text4 img{
    width: 40%;
    max-width: 450px;
    margin: 80px auto 80px;
}

.page5 .menu-slide-container img {
    width: 100%;
}





.page6{
    background: #EBE7DE;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 100px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.page6 .text{
    display: block;
    width: 60%;
    margin: 0 auto 40px;
}

.page6 .text2{
    display: block;
    width: 60%;
    margin: 40px auto 40px;
}

.page6 .imgbox{
    display: flex;
    margin: 0px auto 0px;
    max-width: 1360px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap:80px;
}

.page6 .imgbox img{
    max-width: 640px;
    width: 40%;
}

.page6 .way{
    display: flex;
    max-width: 1540px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
    margin: 80px auto 0px;
    align-items: flex-start;
}

.page6 .way img{
    max-width: 640px;
    width: 25%;
}


.page7{
    background: #226A4E;
    padding: 140px 0 100px;
    text-align: center;
    overflow: hidden;
}

.page7 .tit{
    display: block;
    width: 100%;
    margin: 0 auto 100px;
    max-width: 385px;
}

.page7 .tit1{
    display: block;
    width: 82%;
    margin: 0 auto 40px;
    max-width: 620px;
}

.page7 .imgbox{
    display: flex;
    margin: 0px auto 100px;
    max-width: 628px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
}

.page7 .imgbox img{
    max-width: 284px;
    width: 40%;
}

.page7 .tiit{
    display: block;
    width: 80%;
    margin: 0 auto 40px;
    max-width: 530px;
}
.page7 .review-slide-container{
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 90%;
    padding-bottom: 80px;
}
.page7 .review-slide-container img{
    width: 100%;
}
.page7 .review-slide-container .swiper-pagination-bullet{
    background-color: #fff;
    width: 10px;
    height: 10px;
}
.page7 .review-slide-container .swiper-pagination-bullet-active{
}

.page8{
    background: #1A2621;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0 130px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.page8 .tit{
    display: block;
    width: 80%;
    margin: 0 auto 40px;
    max-width: 252px;
}

.page8 .textbox{
    display: flex;
    margin: 0px auto 0px;
    max-width: 975px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px 60px;
    position: relative;
}

.page8 .textbox img{
    width: 29%;
    max-width: 305px;
}

.page9{
    background:  #EBE7DE;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0 100px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.page9 .tit{
    display: block;
    width: 80%;
    margin: 0 auto 60px;
    max-width: 256px;
}


.page9 .gr{
    display: block;
    width: 90%;
    margin: auto;
    max-width: 975px;
}

.page9 .gr1{
    display: none;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.contact-container{
    background: #226A4E;
    padding: 120px 0 95px;
    text-align: center;
}
.contact-container .tit{
    max-width: 230px;
    width: 70%;
    margin: 0 auto;
}
.contact-container .contact-wrap{
    max-width: 700px;
    width: 90%;
    margin: 80px auto 0;
}
.contact-container .contact-wrap .agree-wrap{
    width: 100%;
    padding: 15px 20px;
    border: 2px solid #FFF;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.contact-container .contact-wrap .agree-wrap input{
    width: 25px;
    height: 25px;
}
.contact-container .contact-wrap .agree-wrap .text1 {
    margin-left: 15px;
    position: absolute;
    height: 30%;
    top: calc(50% - 9px);
}
.contact-container .contact-wrap .agree-wrap .text2 {
    height: 30%;
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: calc(50% - 9px);
    cursor: pointer;
}
.contact-container .contact-wrap .plus {
    font-family: GongGothicMedium;
    font-size: 20px;
    color: #FFF;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
}
.contact-container .contact-wrap .input-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.contact-container .contact-wrap .input-item .label-wrap{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 200% */
    width: 30%;
    text-align: left;
}
.contact-container .contact-wrap .input-item .input-wrap{
    width: 70%;
}
.contact-container .contact-wrap .input-item .input-wrap input{
    width: 100%;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 150% */
    border: 1px solid #FFF;
    background: #31916C;
    padding: 10px 20px;
    box-sizing: border-box;
}
.contact-container .contact-wrap .input-item .input-wrap textarea{
    width: 100%;
    border: 1px solid #FFF;
    background: #31916C;
    padding: 10px 20px;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 150% */
}
.contact-container .contact-wrap .submit{
    background: #1A2621;
    width: 200px;
    padding: 15px 20px 13px;
    outline: none;
    border: none;
    display: block;
    margin-left:auto;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
}
.footer-wrap{
    color: #57AB8B;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    background: #205B44;
}
.agree-modal{
    position: fixed;
    max-width: 500px;
    width: 90%;
    z-index: 11;
    top: 10%;
    left: calc(50% - 250px);
    display: none;
    font-size: 13px;
    border-radius: 15px;
    background: #fff;
}
.agree-modal .head{
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
}
.agree-modal .txt{
    padding: 1rem 1rem;
}
.modal-close{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11;
    cursor: pointer;
    display: none;
}
.modal-close img{
    width: 100%;
}
.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 10;
    display: none;
}

@media (max-width: 1200px) {
    .topbar-container .topbar-wrap{
        padding: 22px 0;
    }
}

@media (max-width: 1024px){
    .meunlist a{
        font-size: 18px;
    }
    .page3 .meun img{
        width: 20%;
    }
    .page6 .text{
        width: 74%;
    }
    .page6 .way{
        flex-wrap: wrap;
    }
    .page6 .way img{
        max-width: 500px;
        width: 80%;
        margin-bottom: 30px;
    }
}


@media (max-width: 900px){
    .topbar-container .topbar-wrap{
        width: 100%;
    }
    .meunlist{
        padding: 0 5%;
        box-sizing: border-box;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        white-space: nowrap;
        justify-content: flex-start;
        position: relative;
        overflow-y: hidden;
        z-index: 1000;
    }
    .meunlist::-webkit-scrollbar {
        display:none /* Chrome , Safari , Opera */
    }
    .topbar-container .topbar-wrap .meun-wrap .meunlist-wrap a{
        top: 6px;
    }
    .page1{
        margin-top: 68px;
    }
}

@media (max-width: 768px){
    .pc{
        display: none !important;
    }
    .mobile{
        display: block;
    }
    .page1 .img{
        display: none;
    }
    .page1 .img1{
        display: block;
        width: 100%;
        max-width: 859px;
        margin: 100px auto 0px;
    }

    .page1 .rogo{
        display: block;
        width: 60%;
        margin: auto;
        max-width: 400px;
        margin: 44px auto 0;
    }

    .page1 .tit{
        display: block;
        width:60%;
        margin: 66px auto 0;
        max-width: 400px;
    }

    .page2 .textbox{
        display: none;
    }

    .page2 .textbox1{
        display: block;
        width: 60%;
        margin: 60px auto 60px;
        max-width: 680px;
    }

    .page2 .tit {
        display: block;
        width: 67%;
        margin: auto;
        max-width: 680px;
    }

    .page2 .page2-box{
        display: none;
    }

    .page2 .page2-box-mo{
        display: flex;
        margin: 40px auto 40px;
        max-width: 720px;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .page2 .page2-box-mo img{
        max-width: 480px;
        width: 100%;
    }

    .page2 .page2-box-mo .box{
        margin-right: auto;
    }

    .page2 .page2-box-mo .box1{
        margin-left: auto;
    }

    .page3{
        background: #226A4E;
        padding: 80px 0 100px;
        text-align: center;
        overflow: hidden;

    }

    .page3 .tit{
        display: block;
        width: 80%;
        margin: 0px auto 60px;
        max-width: 622px;
    }

    .page3 .meun{
        display: flex;
        margin: 0px auto 0px;
        max-width: 1300px;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px 20px;

    }

    .page3 .meun img{
        width: 25%;
        max-width: 200px;
    }
    .page3 .side{
        gap: 50px 20px;
    }
    .page3 .side img{
        width: 25%;
        max-width: 200px;
    }

    .page4{
        background:#1A2621;
        padding: 70px 0 70px;
        text-align: center;
        overflow: hidden;
    }

    .page4 .link{
        display: flex;
        margin: 0px auto 0px;
        max-width: 1330px;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .page4 .link img{
        width: 90%;
        max-width: 630px;
        margin:  auto ;
    }
    .page4 .link .video-wrap{
        width: 90%;
        margin-bottom: 50%;
    }

    .page4 .text{
        display: block;
        width: 55%;
        margin: 0 auto 80px;
        max-width: 475px;
    }

    .page4 .text1 {
        display: block;
        width: 75%;
        margin: 60px auto 60px;
        max-width: 430px;
    }


    .page4 .img{
        display: block;
        width: 90%;
        margin: 0 auto 80px;
        max-width: 640px;
    }

    .page4 .img img{
        width: 90%;
    }

    .page4 .text2 {
        display: block;
        width: 80%;
        margin: 0 auto 80px;
        max-width: 380px;
    }

    .page5 {
        padding: 70px 0 100px;
    }
    .page5 .menu-slide-container img{
        width: 90%;
    }
    .page5 .text2 {
        display: block;
        width: 90%;
        margin: 40px auto 70px;
        max-width: 580px;
    }

    .page5 .text3 {
        display: block;
        width: 80%;
        margin: 100px auto 80px;
        max-width: 200px;
    }

    .page5 .map .star{
        display: none;
    }
    .page5 .map .map-img{
        width: 90%;
    }
    .page5 .open-mo{
        display: flex;
        margin: 0px auto 0px;
        max-width: 1300px;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .page5 .open-mo img{
        width: 44%;
        max-width: 300px;
    }

    .page5 .open{
        display: none;
    }

    .page5 .text4{
        display: flex;
        margin: 0px auto 0px;
        max-width: 1140px;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .page5 .text4 img{
        width: 100%;
        max-width: 450px;
        margin: 40px auto 40px;
    }

    .page6{
        padding: 50px 0 50px;
    }

    .page6 .text{
        display: block;
        width: 85%;
        margin: 0 auto 80px;
    }


    .page6 .text2{
        display: block;
        width: 85%;
        margin: 40px auto 40px;
    }

    .page6 .imgbox{
        display: flex;
        margin: 0px auto 0px;
        max-width: 1360px;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap:50px;
    }

    .page6 .imgbox img{
        max-width: 640px;
        width: 80%;
    }

    .page6 .way{
        display: flex;
        max-width: 1540px;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap:80px;
        margin: 80px auto 0px;
    }

    .page6 .way img{
        max-width: 640px;
        width: 80%;
        margin-bottom: 0;
    }

    .page7 {
        background: #226A4E;
        padding: 70px 0 70px;
    }
    .page7 .tit{
        width: 85%;
    }
    .page7 .tit1{
        width: 88%;
    }
    .page7 .review-slide-container{
        width: 100%;
    }
    .page8 .textbox{
        gap: 20px;
        width: 90%;
    }
    .page8 .textbox img {
        width: calc(50% - 10px);
        max-width: 305px;
    }

    .page9 .gr{
        display: none;
    }

    .page9 .gr1{
        display: block;
        width: 90%;
        margin: auto;
        max-width: 975px;
    }
    .contact-container .contact-wrap .input-item .label-wrap{
        font-size: 20px;
        line-height: 30px;
        width: 140px;
    }
    .contact-container .contact-wrap .input-item .input-wrap {
        width: calc(100% - 140px);
    }
    .contact-container .contact-wrap .input-item .input-wrap input{
        font-size: 20px;
    }



}
@media (max-width: 600px) {
    .agree-modal{
        width: 90%;
        left: 5%;
        top: 20%;
    }
}
@media (max-width: 480px) {

    .contact-container .contact-wrap .agree-wrap input {
        width: 20px;
        height: 20px;

    }

    .contact-container .contact-wrap .input-item .label-wrap {
        font-size: 18px;
        line-height: 25px;
    }

    .contact-container .contact-wrap .input-item .input-wrap input {
        font-size: 17px;
        padding: 6px 20px;
    }

    .footer-wrap {
        font-size: 12px;
    }

    .page5 .textAdd {
        margin-bottom: 40px;
    }

    .page5 .search-slide-container {
        margin-bottom: 50px !important;
    }
    .contact-container .contact-wrap .plus {
        font-size: 18px;
    }
}
