@font-face {
  font-family: 'OA Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'OA Gothic-M';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Oa/OAGothic-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
.pc {
  display: block;
}
.mobile {
  display: none !important;
}
.grecaptcha-badge{
  visibility: hidden;
}
.layer-popup {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 2px 3px 10px #555;
  border-radius: 10px;
  height: auto !important;
}
.layer-popup:nth-child(1) {
  left: 0;
}
.layer-popup img {
  width: 100%;
  height: auto !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.layer-popup .show-chk-wrap {
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}
.layer-popup .show-chk-wrap a {
  font-size: 16px;
  font-weight: 700;
}
#main {
  margin-top: 55px;
  background: url("../img/main-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  padding: 460px 0 60px;
  position: relative;
}
.plus-div {
  position: absolute;
  top: 9%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
.main-plus {
  max-width: 500px;
  width: 90%;
}
.main-container {
  position: relative;
  height: 270px;
  display: flex;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}
.main-wrap {
  width: 90%;
}
.main-logo {
  max-width: 260px;
  width: 90%;
}
.green-tit {
  width: fit-content;
  background: #FFF;
  box-sizing: border-box;
  padding: 0px 19px 5px 20px;
  color: #00794D;
  font-family: OA Gothic;
  font-size: 40px;
  line-height: 130%; /* 52px */
  letter-spacing: -0.8px;
}
.main-middle {
  margin-top: 10px;
  color: #FFF;
  font-family: OA Gothic-M;
  font-size: 56px;
  line-height: 130%; /* 72.8px */
  letter-spacing: -1.12px;
}
.sm-br {
  display: none;
}
.yellow {
  color: #FFD038;
  font-family: OA Gothic;
}
.main-bottom {
  margin-top: 24px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%; /* 26px */
  letter-spacing: -0.4px;
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}
.logo-div {
  display: flex;
  align-items: end;
}
#page2 {
  background: #045437;
  padding-top: 120px;
}
.pg2-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.pg2-tit-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pg2-sm-tit {
  color: #FFF;
  text-align: center;
  font-family: OA Gothic;
  font-size: 32px;
  line-height: 140%; /* 44.8px */
  letter-spacing: -0.96px;
}
.pg2-tit {
  margin-top: 10px;
  max-width: 622px;
  width: 90%;
}
.graph-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}
.graph-img {
  width: 80%;
  display: flex;
  justify-content: center;
}
.year-sale {
  border-radius: 100px;
  border: 2px solid #FFD038;
  color: #FFE07A;
  text-align: center;
  font-family: OA Gothic;
  font-size: 34px;
  line-height: 140%; /* 47.6px */
  letter-spacing: -0.68px;
  display: flex;
  box-sizing: border-box;
  padding: 14px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.graph-line {
  position: absolute;
  width: 66%;
  left: 7%;
}
.graph {
  width: 90%;
}
.graph-tit {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
.min {
  width: fit-content;
  color: #FFF;
  font-family: 'Pretendard';
  font-size: 20px;
  font-weight: 500 !important;
  letter-spacing: -0.4px;
}
.min>span {
  font-size: 40px;
  letter-spacing: -0.8px;
}
.wave {
  width: fit-content;
  color: #FFF;
  font-family: 'Pretendard';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
  letter-spacing: -0.64px;
}
.max {
  border-radius: 8px;
  background: #FFE07A;
  display: flex;
  box-sizing: border-box;
  padding: 10px 14px;
  flex-direction: column;
  align-items: flex-start;
  color: #111;
  font-family: 'Pretendard';
  font-size: 20px;
  font-weight: 500 !important;
  letter-spacing: -0.4px;
  width: 174px;
}
.max>span {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.8px;
}
.customer {
  display: flex;
  margin-top: 80px;
}
.customer-img {
  width: 33.33%;
}
.customer-div {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: url("../img/page2/repeat-bg.png");
  background-repeat: repeat;
  position: relative;
}
.customer-up-tit {
  color: #FFF;
  text-align: center;
  font-family: OA Gothic-M;
  font-size: 24px;
  line-height: 140%; /* 33.6px */
  letter-spacing: -0.48px;
  border-radius: 50px;
  background:  #00794D;
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
}
.customer-down-tit {
  color: #111;
  text-align: center;
  font-family: OA Gothic-M;
  font-size: 32px;
  line-height: 140%; /* 44.8px */
  letter-spacing: -0.64px;
}
.customer-down-tit>span {
  font-family: OA Gothic;
}
#page3 {
  background: url("../img/main-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}
.pg3-container {
  background: #111;
  background-color: rgba( 0, 0, 0, 0.8 );
  padding: 120px 0 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.pg3-tit {
  max-width: 720px;
  width: 90%;
}
.pg3-mo-tit {
  max-width: 252px;
  width: 90%;
  display: none;
}
.point-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.point-div {
  box-sizing: border-box;
  padding: 30px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(0, 0, 0, 0.20);
}
.red {
  color:  #ED3626;
  font-family: 'Pretendard';
  font-size: 30px;
  font-weight: 500;
  line-height: 150%; /* 45px */
  letter-spacing: -0.6px;
  text-align: center;
  width: 45px;
  border: 1.5px solid #ED3626;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.bounce {
  animation: bounce 1s infinite;
}
.bounce2 {
  animation: bounce 1.5s infinite;
}
.point-tit {
  color: #FFF;
  font-family: 'Pretendard';
  font-size: 30px;
  font-weight: 500;
  line-height: 140%; /* 42px */
  letter-spacing: -0.6px;
  word-break: keep-all;
}
.point-detail {
  color: #FFF;
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 300;
  line-height: 150%; /* 27px */
  letter-spacing: -0.36px;
  padding-top: 20px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.30);
}
.point-img {
  width: 320px;
}
.green {
  color: #00794D;
  font-family: 'Pretendard';
  font-size: 30px;
  font-weight: 500;
  line-height: 150%; /* 45px */
  letter-spacing: -0.6px;
  text-align: center;
  width: 45px;
  border: 1.5px solid #00794D;
}
.pg3-bottom {
  color: #FFF;
  text-align: center;
  font-family: OA Gothic-M;
  font-size: 32px;
  font-weight: 500;
  line-height: 150%; /* 48px */
  letter-spacing: -0.64px;
}
#page4 {
  background:  #ED3626;
  padding: 120px 0 80px;
  overflow: hidden;
  position: relative;
}
.pg4-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.pg4-tit {
  max-width: 702px;
  width: 90%;
}
.tv-wrap {
  width: 100%;
}
.tv-swiper-container {
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.tv-swiper-container img {
  width: 100%;
}
.tv-nav-wrap {
  width: 62%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 37%;
  left: 19%;
  z-index: 50;
}
.tv-button-back {
  width: 40px !important;
  border-radius: 100px;
  background: rgba(34, 34, 34, 0.30);
  border: none;
  padding: 8px;
  position: relative;
  z-index: 20;
}
.tv-button-forward {
  width: 43px !important;
  border-radius: 100px;
  border: 2px solid #FFF;
  background: #222;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  padding: 8px;
  position: relative;
  z-index: 20;

}
.tv-frame {
  width: 60%;
  position: absolute;
  top: 22.45%;
  left: 22.45%;
  z-index: 15;
}
.monitor-frame {
  width: 54%;
  margin-top: 80px;
}
.video {
  position: absolute;
  top: 61.5%;
  width: 700px;
  height: 400px;
}
#page5 {
  background: url("../img/page5/pg5-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  padding: 120px 0 80px;
}
.pg5-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.pg5-tit {
  max-width: 509px;
  width: 90%;
}
.sns-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.pg5-phone {
  max-width: 300px;
  width: 90%;
  height: fit-content;
}
.sns-wrapper {
  width: 65%;
  justify-content: center;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.sns-wrap {
  width: 100%;
  display: none;
}
.sns-swiper-container {
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.sns-swiper-container img {
  width: 100%;
}
.sns {
  width: 250px;
}
#page6 {
  background: url("../img/page2/repeat-bg.png");
  background-repeat: repeat;
  position: relative;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  overflow: hidden;
}
.pg6-tit {
  max-width: 604px;
  width: 90%;
}
.phone-wrap {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 80px;
}
.phone-swiper-container {
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.phone-swiper-container img {
  width: 100%;
}
.phone-nav-wrap {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 30%;
  z-index: 10;
}
.phone-button-back {
  width: 40px !important;
  border-radius: 100px;
  background: rgba(34, 34, 34, 0.30);
  border: none;
  padding: 8px;
}
.phone-button-forward {
  width: 43px !important;
  border-radius: 100px;
  border: 2px solid #FFF;
  background: #222;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  padding: 8px;
}
.phone-border {
  margin-top: 60px;
  max-width: 440px;
  width: 90%;
  position: absolute;
  bottom: 0;
}
#page7 {
  background: #222;
  display: flex;
  padding: 120px 0 80px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.pg7-tit {
  max-width: 590px;
  width: 90%;
}
.interior-wrap {
  width: 100%;
}
.interior-swiper-container {
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.interior-swiper-container img {
  width: 100%;
}
.interior-nav-wrap {
  width: 66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 17%;
  z-index: 10;
}
.interior-button-back {
  width: 40px !important;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(34, 34, 34, 0.30);
  padding: 8px;
}
.interior-button-forward {
  width: 43px !important;
  border-radius: 100px;
  border: 2px solid #FFF;
  background: #222;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  padding: 8px;
}
#page8 {
  background: url("../img/page8/pg8-bg.png");
  background-repeat: repeat;
  position: relative;
  padding: 120px 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pg8-up-tit {
  color: #FFF;
  text-align: center;
  font-family: OA Gothic;
  font-size: 32px;
  line-height: 140%; /* 44.8px */
  letter-spacing: -0.96px;
}
.pg8-tit {
  margin-top: 10px;
  max-width: 730px;
  width: 90%;
}
.pg8-mo-tit {
  margin-top: 10px;
  max-width: 240px;
  width: 90%;
  display: none;
}
.main-tit {
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 100px;
  border: 1.5px solid #FFF;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 40px;
  color: #FFF;
  font-family: OA Gothic;
  font-size: 36px;
  line-height: 140%; /* 50.4px */
}
.main-wrap {
  width: 100%;
}
.main-swiper-container {
  position: relative;
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.main-swiper-container img {
  width: 100%;
}
.main-nav-wrap {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 21.5%;
  z-index: 10;
}
.main-button-back {
  width: 40px !important;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(34, 34, 34, 0.30);
  padding: 8px;
}
.main-button-forward {
  width: 43px !important;
  border-radius: 100px;
  border: 2px solid #FFF;
  background: #222;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  padding: 8px;
}
.side-tit {
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 100px;
  border: 1.5px solid #FFF;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 40px;
  color: #FFF;
  font-family: OA Gothic;
  font-size: 36px;
  line-height: 140%; /* 50.4px */
}
.side-wrap {
  width: 100%;
}
.side-swiper-container {
  position: relative;
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.side-swiper-container img {
  width: 100%;
}
.side-nav-wrap {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 21.5%;
  z-index: 10;
}
.side-button-back {
  width: 40px !important;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(34, 34, 34, 0.30);
  padding: 8px;
}
.side-button-forward {
  width: 43px !important;
  border-radius: 100px;
  border: 2px solid #FFF;
  background: #222;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  padding: 8px;
}
#page9 {
  background: url("../img/page9/pg9-bg.png");
  background-repeat: repeat;
  position: relative;
  padding: 120px 0 80px;
}
.pg9-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.pg9-tit {
  max-width: 615px;
  width: 90%;
}
.per-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.per-box {
  width: 260px;
  height: 300px;
  box-sizing: border-box;
  padding: 20px 0 10px 0;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.per {
  max-width: 130px;
  width: 90%;
}
.per-tit {
  color: #222;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
  word-break: keep-all;
}
.big-br2 {
  display: none;
}
.pg9-bottom-tit {
  color: #FFF;
  font-family: OA Gothic-M;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: -0.72px;
}
#page10 {
  background: url("../img/page10/pg10-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  padding: 120px 0 80px;
}
.pg10-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pg10-up-tit {
  color: #FFF;
  text-align: center;
  font-family: OA Gothic-M;
  font-size: 36px;
  line-height: 140%; /* 50.4px */
  letter-spacing: -0.72px;
}
.pg10-tit {
  max-width: 472px;
  width: 90%;
  margin-top: 10px;
}
.logo-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo-img {
  width: 150px;
}
.pg10-bottom-tit {
  margin-top: 60px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
  border-radius: 100px;
  border: 1px solid #FFF;
  display: flex;
  box-sizing: border-box;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.mi-br2 {
  display: none;
}
.bold {
  font-weight: 700;
}
#page11 {
  background: url("../img/page11/pg11-bg.png");
  background-repeat: repeat;
  position: relative;
  padding-top: 120px;
}
.pg11-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding-top: 50px;
}
.pg11-tit {
  width: 40%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.blinking {
  animation: blink 1.5s infinite; /* 1초 간격으로 무한 반복 */
}
.pg11-tit>.up-tit {
  box-sizing: border-box;
  padding: 10px;
  color: #ED3626;
  font-family: OA Gothic;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%; /* 96px */
  background: #FFF;
  border-radius: 20px;
  background: #FFF;
  width: fit-content;
}
.pg11-tit>.down-tit {
  margin-left: 30px;
  color: #FFF;
  font-family: OA Gothic;
  font-size: 54px;
  line-height: 150%;
}
.pg11-img {
  width: 60%;
  position: relative;
}
.rice-noodle {
  width: 100%;
}
.bubble {
  max-width: 530px;
  width: 90%;
  position: absolute;
  top: -13%;
  left: 27%;
}
#page12 {
  background: #D21100;
  padding: 120px 0 80px;
}
.pg12-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.pg12-tit {
  max-width: 222px;
  width: 90%;
}
.pg9-tit {
  max-width: 340px;
  width: 90%;
}
.step-container {
  display: flex;
  gap: 20px;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.step-box1 {
  border-radius: 8px;
  background: #FFD038;
  box-sizing: border-box;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 280px;
}
.step-box2 {
  border-radius: 8px;
  background: #FFF;
  border: none;
  box-sizing: border-box;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 280px;
}
.notosans1 {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  color: #111;
  text-align: center;
  font-size: 30px;
  line-height: normal;
}
.notosans2 {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  color: #FFD038;
  text-align: center;
  font-size: 30px;
  line-height: normal;
}
.step-img {
  max-width: 96px;
  width: 80%;
}
.step-detail {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.next-step {
  width: 50px;
  height: 50px;
}
.next-step-mo {
  width: 50px;
  height: 50px;
  display: none;
}
#contact {
  background: url("../img/contact/contact-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  padding: 120px 0 80px;
  position: relative;
}
.contact-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contact-up-tit {
  color: #FFF;
  text-align: center;
  font-family: OA Gothic;
  font-size: 32px;
  line-height: 140%; /* 44.8px */
  letter-spacing: -0.96px;
}
.mi-br {
  display: none;
}
.contact-tit {
  max-width: 486px;
  width: 90%;
}
.contact-form {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.agree-wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  display:flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #FFF;
}
.checkbox-label {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.round {
  max-width: 870px;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: transparent;
  cursor: pointer;
  font-size: large;
  margin-right: 20px;
  border: 1px solid #FFF;
}
.round:checked::before {
  content: "\2713";
  font-size: 150%;
  color: #111111;
  position: relative;
  margin-left: 6px;
}
.round:checked {
  background-color:  #FFD038;
}
.agree-wrap span {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  margin-top: 4px;
}
.input-container {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.label-wrap {
  width: 100%;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px; /* 200% */
  display: flex;
  gap: 20px;
}
.label {
  width: 200px;
  display: flex;
  align-items: center;
}
.input {
  width: 100%;
}
input,textarea {
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
}
input[type=text] {
  padding: 5px;
}
.agree-modal {
  display: none;
  position: fixed;
  max-width: 600px;
  width: 90%;
  z-index: 15;
  top: 20%;
  left: calc(50% - 300px);
  border-radius: 15px;
  background: #fff;
  font-family: 'Pretendard';
  box-sizing: border-box;
  text-align: center;
}
.agree-modal div {
  font-size: 18px;
  color: black;
}
.agree-modal .head {
  border-bottom: 1px solid #dee2e6;
  padding: 2rem 2rem;
}
.agree-modal .txt {
  padding: 2rem 2rem;
}
.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 13;
  display: none;
}
#contact button {
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background: #FFD038;
  color: #222;
  font-family: OA Gothic;
  font-size: 30px;
  line-height: 100%; /* 20px */
  letter-spacing: -0.4px;
  text-transform: uppercase;
}
@media(min-width:1450px) {
  .tv-frame {
    top: 21%;
  }
}
@media(min-width:1500px) {
  .sns-wrapper {
    width: 53%;
  }
  .pg11-img {
    width: 50%;
  }
  .pg11-container {
    width: 90%;
    gap: 130px;
  }
  .pg11-tit {
    width: 35%;
  }
  .contact-container {
    width: 35%;
  }
  .phone-border {
    max-width: 510px;
  }
  .phone-wrap {
    margin-top: 150px;
    margin-bottom: 90px;
  }
  .video {
    width: 750px;
    height: 420px;
  }
  .step-container {
    width: 90%;
  }
}
@media(min-width: 1650px) {
  .phone-border {
    max-width: 550px;
  }
  .phone-wrap {
    margin-top: 150px;
    margin-bottom: 90px;
  }
}
@media(min-width:1700px) {
  .tv-frame {
    top: 20%;
  }
  .video {
    width: 900px;
    height: 500px;
    top: 59.5%;
  }
  .step-container {
    width: 80%;
  }
}
@media(min-width:1800px) {
  .phone-border {
    max-width: 600px;
  }
  .tv-frame {
    top: 19%;
  }
  .step-container {
    width: 70%;
  }
  .pg11-tit {
    width: 45%;
  }
  .pg11-img {
    width: 45%;
  }
  .pg11-container {
    width: 90%;
    gap: 130px;
  }
}
@media(min-width:1850px) {
  .point-wrapper {
    width: 53%;
  }
}
@media(min-width:1900px) {
  .phone-border {
    max-width: 650px;
  }
  .sns-wrapper {
    width: 43%;
  }
  .tv-frame {
    top: 18%;
  }
  .tv-nav-wrap {
    top: 30%;
  }
  .tv-button-back, .tv-button-forward, .phone-button-back, .phone-button-forward, .interior-button-back, .interior-button-forward {
    width: 90px !important;
  }
  .main-button-back, .main-button-forward, .side-button-back, .side-button-forward {
    width: 70px !important;
  }
  .video {
    width: 1000px;
    height: 580px;
    top: 58.5%;
  }
  .step-container {
    width: 70%;
  }
}
@media(min-width:2100px) {
  .tv-frame {
    top: 17%;
  }
  .phone-border {
    max-width: 700px;
  }
  .pg11-img {
    width: 40%;
}
.pg11-tit>.up-tit {
  font-size: 80px;
}
.pg11-tit>.down-tit {
  font-size: 75px;
  margin-left: 80px;
}
.bubble {
  max-width: 600px;
}
.step-container {
  width: 60%;
}
}
@media(min-width:2250px) {
  .phone-border {
    max-width: 730px;
  }
}
@media(min-width:2300px) {
  .tv-frame {
    top: 16%;
  }
  .video {
    width: 1150px;
    height: 650px;
    top: 57.5%;
  }
  .point-wrapper {
    width: 45%;
  }
  .phone-border {
    max-width: 780px;
  }
  .phone-wrap {
    margin-top: 180px;
  }
}
@media(min-width:2450px) {
  .tv-frame {
    top: 15%;
  }
  .video {
    width: 1250px;
    height: 680px;
  }
}
@media(max-width:1410px) {
  .tv-frame {
    width: 59%;
    left: 23%;
    top: 23%;
  }
}
@media(max-width:1380px) {
  .point-wrapper {
    width: 80%;
  }
  .point-div {
    width: 33.3%;
  }
  .point-img {
    width: 33.3%;
  }
  .sns {
    width: calc(33% - 20px);
  }
  .per-container {
    width: 100%;
  }
  .per-box {
    width: calc(25% - 30px);
    box-sizing: border-box;
    padding: 0 10px;
  }
  .pg11-tit>.up-tit {
    font-size: 54px;
  }
  .pg11-tit>.down-tit {
    font-size: 48px;
  }
}
@media(max-width:1390px) {
  .tv-frame {
    top: 23.5%;
  }
}
@media(max-width:1340px) {
  .tv-frame {
    top: 24.1%;
  }
  .video {
    width: 630px;
    height: 350px;
    top: 63%;
  }
}
@media(max-width:1300px) {
  .logo-wrapper {
    width: 80%;
  }
  .bubble {
    width: 80%;
    left: 23%;
  }
  .phone-border {
    width: 32%;
  }
  .main-plus {
    max-width: 460px;
  }
}
@media(max-width:1250px) {
  .tv-frame {
    top: 24.9%;
  }
}
@media(max-width:1250px) {
  .tv-frame {
    top: 25.3%;
  }
}
@media(max-width:1200px) {
  #main {
    padding-top: 320px;
  }
  .main-plus {
    max-width: 360px;
  }
  .point-wrapper {
    width: 90%;
  }
  .per-tit {
    font-size: 18px;
  }
  .pg11-tit>.up-tit {
    font-size: 46px;
  }
  .pg11-tit>.down-tit {
    font-size: 40px;
  }
  .step-box1, .step-box2 {
    width: 270px;
    height: 250px;
  }
  .step-detail {
    font-size: 20px;
  }
  .contact-container {
    width: 60%;
  }
  .tv-frame {
    top: 25.5%;
  }
  .video {
    width: 580px;
    height: 310px;
    top: 64%;
  }
}
@media(max-width:1178px) {
  .tv-frame {
    top: 25.7%;
  }
}
@media(max-width:1160px) {
  .tv-frame {
    top: 26.3%;
  }
  .tv-nav-wrap {
    width: 74%;
    top: 39%;
    left: 13%;
}
}
@media(max-width:1100px) {
  .main-plus {
    max-width: 300px;
  }
  .customer-up-tit {
    font-size: 20px;
  }
  .customer-down-tit {
    font-size: 28px;
  }
  .red, .green, .point-tit {
    font-size: 26px;
  }
  .point-detail {
    font-size: 16px;
  }
  .pg5-phone {
    width: 25%;
  }
  .per-tit {
    font-size: 16px;
  }
  .step-box1, .step-box2 {
    width: 240px;
    height: 240px;
  }
  .tv-frame {
    width: 66.5%;
    left: 19.5%;
    top: 25.2%;
  }
  .monitor-frame {
    width: 60%;
  }
  .video {
    width: 580px;
    height: 320px;
    top: 63.5%;
  }
}
@media(max-width:1050px) {
  .pg11-tit>.up-tit {
    font-size: 44px;
  }
  .pg11-tit>.down-tit {
    font-size: 38px;
  }
  .tv-frame {
    top: 25.5%;
  }
}
@media(max-width:1000px) {
  .customer-up-tit {
    font-size: 18px;
  }
  .customer-down-tit {
    font-size: 24px;
  }
  .graph-line {
    left: 3%;
  }
  .graph-img {
    justify-content: start;
  }
  .min, .max {
    font-size: 18px;
  }
  .min>span, .max>span {
    font-size: 32px;
  }
  .wave {
    font-size: 28px;
  }
  .pg4-tit {
    width: 70%;
  }
  #page5 {
    padding-top: 100px;
  }
  .sns-wrapper {
    display: none;
  }
  .sns-wrap {
    display: block;
    margin-bottom: 50px;
  }
  .pg5-phone {
    width: 31%;
    position: absolute;
    left: 5%;
    top: 37%;
    z-index: 20;
  }
  .pg6-tit {
    width: 55%;
  }
  .tv-frame {
    top: 26.5%;
  }
  .interior-nav-wrap {
    width: 82%;
    left: 9%;
  }
  .main-nav-wrap, .side-nav-wrap {
    width: 49%;
    left: 31.5%;
  }
  .per-container {
    width: 80%;
  }
  .per-box {
    width: calc(50% - 30px);
  }
  .per-tit {
    font-size: 20px;
  }
  .big-br2 {
    display: block;
  }
  .pg11-tit>.up-tit {
    font-size: 40px;
  }
  .pg11-tit>.down-tit {
    font-size: 35px;
  }
  .step-box1, .step-box2 {
    width: 220px;
    height: 220px;
  }
  .step-detail {
    font-size: 18px;
  }
  .notosans1, .notosans2 {
    font-size: 25px;
  }
  .contact-container {
    width: 70%;
  }
  .video {
    width: 520px;
    height: 270px;
    top: 65.5%;
  }
}
@media(max-width:950px) {
  .tv-frame {
    width: 77%;
    left: 14.6%;
    top: 25.7%;
  }
  .tv-nav-wrap {
    width: 88%;
    left: 6%;
  }
  .logo-wrapper {
    width: 90%;
  }
  .step-box1, .step-box2 {
    width: 210px;
    height: 210px;
  }
  .step-detail {
    font-size: 17px;
  }
  .notosans1, .notosans2 {
    font-size: 22px;
  }
}
@media(max-width:900px) {
  #main {
    padding-top: 110px;
    padding-bottom: 120px;
  }
  .plus-div, .main-container {
    position: static;
    justify-content: start;
  }
  .main-container {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .main-middle {
    font-size: 50px;
  }
  .pg2-sm-tit, .year-sale {
    font-size: 28px;
  }
  .graph-img {
    width: 100%;
  }
  .graph {
    width: 100%;
  }
  .graph-line {
    width: 92%;
    left: 4%;
  }
  .graph-tit {
    width: 100%;
    flex-direction: row;
  }
  .graph-div {
    flex-wrap: wrap;
    gap: 30px;
  }
  .min, .max {
    font-size: 32px;
  }
  .min, .wave {
    display: flex;
    align-items: center;
  }
  .max {
    flex-direction: row;
    gap: 20px;
    width: fit-content;
  }
  .min>span, .max>span {
    font-size: 40px;
  }
  .min>span {
    margin-left: 15px;
  }
  .wave {
    font-size: 32px;
  }
  .big-br {
    display: none;
  }
  #page4 {
    padding-top: 100px;
  }
  .customer-img {
    width: 30%;
  }
  .customer-div {
    width: 40%;
  }
  .pg3-container, #page6, #page8, #page9, #page10 {
    padding-top: 100px;
  }
  .point-div {
    gap: 10px;
  }
  .red, .green, .point-tit {
    font-size: 20px;
  }
  .red, .green {
    width: 35px;
  }
  .point-detail {
    font-size: 14px;
  }
  .phone-border {
    width: 43%;
  }
  .phone-nav-wrap {
    width: 57%;
    left: 22%;
  }
  .pg6-tit {
    width: 70%;
  }
  .pg8-up-tit {
    font-size: 28px;
  }
  .main-tit, .side-tit {
    font-size: 28px;
  }
  .per-container {
    width: 90%;
  }
  .pg10-up-tit {
    font-size: 30px;
  }
  .pg10-tit {
    width: 55%;
  }
  #page11 {
    padding-top: 80px;
  }
  .pg11-tit>.up-tit {
    font-size: 35px;
  }
  .pg11-tit>.down-tit {
    font-size: 30px;
  }
  #page12 {
    padding-top: 100px;
  }
  .pg12-container {
    gap: 0;
  }
  .first {
    order: 1;
  }
  .second {
    order: 2;
  }
  .third {
    order: 3;
  }
  .fourth {
    order: 4;
  }
  .five {
    order: 5;
  }
  .six {
    order: 6;
  }
  .step-container>img:first-of-type {
    order: 1;
  }
  .step-box1, .step-box2 {
    width: 300px;
    height: 300px;
  }
  .next-step-div {
    width: 70%;
  }
  .step-container>.next-step-div {
    order: 2;
    display: flex;
    justify-content: end;
  }
  .step-container>.next-step-div>img {
    transform: rotate(90deg);
    margin-right: 10%;
  }
  .step-container>img:nth-of-type(3) {
    order: 3;
    transform: rotate(180deg);
  }
  .next-step-mo {
    display: block;
    order: 6;
  }
  .next-step-div2 {
    width: 70%;
  }
  .step-container>.next-step-div2 {
    order: 4;
  }
  .step-container>.next-step-div2>img {
    transform: rotate(90deg);
    margin-left: 10%;
  }
  .notosans1, .notosans2 {
    font-size: 40px;
  }
  .step-detail {
    font-size: 24px;
  }
  #contact {
    padding-top: 100px;
  }
  .tv-frame {
    top: 23.7%;
  }
  .monitor-frame {
    width: 70%;
}
.tv-nav-wrap {
  width: 84%;
  left: 8%;
  top: 35%;
}
.video {
  width: 550px;
  height: 300px;
  top: 63.5%;
}
}
@media(max-width:850px) {
  .pg5-phone {
    top: 39%;
  }
  .tv-frame {
    width: 76%;
    left: 15%;
    top: 24%;
  }
}
@media(max-width:800px) {
  .pg5-phone {
    top: 42%;
  }
  .logo-wrapper {
    width: 90%;
  }
  .pg11-container {
    flex-wrap: wrap;
    gap: 120px;
    padding-top: 0;
  }
  .pg11-tit {
    margin-top: 0;
  }
  .pg11-tit {
    width: 100%;
  }
  .pg11-tit>.up-tit {
    font-size: 50px;
  }
  .pg11-tit>.down-tit {
    font-size: 45px;
  }
  .pg11-img {
    width: 100%;
  }
  .video {
    width: 500px;
    height: 270px;
}
}
@media(max-width:768px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .layer-popup {
    max-width: 90%;
    top: 5%;
    left: 5%;
  }
  .graph-tit {
    font-size: 28px;
  }
  .main-middle {
    font-size: 45px;
  }
  .main-bottom {
    margin-top: 12px;
  }
  #page2 {
    padding-top: 100px;
  }
  .pg2-sm-tit, .year-sale {
    font-size: 24px;
  }
  .min, .max {
    font-size: 26px;
  }
  .min>span, .max>span {
    font-size: 32px;
  }
  .wave {
    font-size: 28px;
  }
  .customer-div {
    gap: 10px;
  }
  .customer-up-tit {
    font-size: 16px;
  }
  .customer-down-tit {
    font-size:  21px;
  }
  .pg3-bottom {
    font-size: 26px;
  }
  .pg4-tit {
    width: 80%;
  }
  .pg5-phone {
    width: 38%;
    top: 37%;
  }
  #page6 {
    gap: 40px;
  }
  .phone-border {
    width: 58%;
  }
  .phone-nav-wrap {
    width: 75%;
    left: 13%;
  }
  .interior-nav-wrap {
    width: 94%;
    left: 3%;
  }
  .main-tit, .side-tit {
    gap: 40px;
  }
  .main-nav-wrap, .side-nav-wrap {
    width: 73%;
    left: 13.5%;
  }
  .pg9-container {
    gap: 40px;
  }
  .per-container {
    width: 100%;
  }
  .per-tit {
    font-size: 18px;
  }
  .per-box {
    width: calc(50% - 20px);
  }
  .pg9-bottom-tit {
    font-size: 28px;
  }
  .pg10-tit {
    width: 70%;
  }
  .pg10-up-tit {
    font-size: 26px;
  }
  .pg10-bottom-tit {
    font-size: 18px;
  }
  .logo-wrapper, .pg10-bottom-tit {
    margin-top: 40px;
  }
  .bubble {
    left: 20%;
  }
  .step-box1, .step-box2 {
    width: 250px;
    height: 250px;
  }
  .notosans1, .notosans2 {
    font-size: 24px;
  }
  .step-detail {
    font-size: 18px;
  }
  .contact-container {
    width: 90%;
    margin: 0 auto;
  }
  .agree-modal {
    max-width: 420px;
    width: 90%;
    z-index: 15;
    top: 20%;
    left: calc(50% - 200px);
  }
  .agree-modal div {
    font-size: 15px;
  }
  .tv-frame {
    top: 26%;
  }
  .tv-nav-wrap {
    top: 37%;
  }
  .video {
    width: 470px;
}
.mi-br {
  display: block;
}
}
@media(max-width:710px) {
  .tv-frame {
    top: 26.5%;
  }
}
@media(max-width:700px) {
  .red, .green, .point-tit {
    font-size: 18px;
  }
  .point-div {
    padding: 15px;
  }
  .pg5-phone {
    top: 39%;
  }
  .pg10-bottom-tit {
    flex-direction: column;
  }
  .step-box1, .step-box2 {
    width: 220px;
    height: 220px;
  }
  .step-container>.next-step-div>img {
    margin-right: 5%;
  }
  .step-container>.next-step-div2>img {
    margin-left: 5%;
  }
  .checkbox-label {
    font-size: 15px;
  }
  .agree-wrap span {
    font-size: 15px;
  }
  .label {
    width: 150px;
  }
  .label-wrap {
    font-size: 15px;
    font-weight: 500;
  }
  .customer-img {
    width: 25%;
  }
  .customer-div {
    width: 50%;
  }
  .pg11-container {
    gap: 100px;
  }
  .pg11-tit>.up-tit {
    font-size: 45px;
  }
  .pg11-tit>.down-tit {
    font-size: 40px;
  }
  .video {
    width: 420px;
    height: 240px;
    top: 64.5%;
}
}
@media(max-width:650px) {
  .pg5-phone {
    top: 41%;
  }
  .main-tit, .side-tit {
    font-size: 20px;
  }
  .pg11-container {
    gap: 80px;
  }
  .tv-frame {
    width: 75%;
    left: 15.5%;
    top: 27%;
  }
  .video {
    width: 390px;
    height: 210px;
    top: 65.5%;
}
}
@media(max-width:600px) {
  .sm-br {
    display: block;
  }
  .graph-tit {
    font-size: 28px;
  }
  .main-middle {
    font-size: 37.333px;
  }
  .pg2-sm-tit, .year-sale {
    font-size: 20px;
  }
  .phone-border {
    width: 100%;
    max-width: 520px;
  }
  .phone-wrap {
    margin-top: 100px;
    margin-bottom: 75px;
}
  .phone-nav-wrap {
    left: 1%;
    width: 98%;
  }
  .min, .max {
    font-size: 24px;
  }
  .min>span, .max>span {
    font-size: 30px;
  }
  .wave {
    font-size: 26px;
  }
  .pg4-tit {
    width: 90%;
  }
  .customer {
    flex-wrap: wrap;
  }
  .customer-img {
    width: 100%;
  }
  .customer-div {
    width: 100%;
    height: 400px;
  }
  .customer-up-tit {
    font-size: 20px;
  }
  .customer-down-tit {
    font-size:  30px;
  }
  .point-div, .point-img {
    width: 100%;
  }
  .point-div {
    padding: 50px;
    gap: 50px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    height: 480px;
    justify-content: center;
  }
  .red, .green, .point-tit {
    font-size: 36px;
  }
  .point-detail {
    padding-top: 50px;
  }
  .red, .green {
    width: 55px;
  }
  .point-detail {
    font-size: 20px;
  }
  .pg3-tit {
    display: none !important;
  }
  .pg3-mo-tit {
    display: block;
  }
  .pg3-bottom {
    font-size: 21px;
  }
  .pg5-phone {
    width: 100%;
    top: 36%;
  }
  .main-nav-wrap, .side-nav-wrap {
    width: 96%;
    left: 2%;
  }
  .per-container {
    gap: 20px;
  }
  .per-tit {
    font-size: 14px;
  }
  .per {
    width: 60%;
  }
  .per-box {
    width: calc(50% - 10px);
    height: 250px;
  }
  .pg9-bottom-tit {
    font-size: 20px;
  }
  .logo-wrapper {
    gap: 12px;
    width: 100%;
  }
  .logo-img {
    width: 140px !important;
  }
  .pg10-tit {
    width: 90%;
  }
  .pg10-up-tit {
    font-size: 20px;
  }
  .pg10-bottom-tit {
    font-size: 16px;
  }
  .step-box1, .step-box2 {
    width: 200px;
    height: 220px;
  }
  .step-container {
    gap: 10px;
  }
  .step-container>.next-step-div>img {
    margin-right: 1%;
  }
  .step-container>.next-step-div2>img {
    margin-left: 1%;
  }
  .tv-frame {
    width: 90%;
    left: 8.5%;
    top: 26.3%;
  }
  .tv-nav-wrap {
    width: 98%;
    left: 1%;
    top: 38%;
  }
  .monitor-frame {
    width: 81%;
}
.video {
  width: 440px;
  height: 245px;
  top: 64.5%;
}
}
@media(max-width:550px) {
  .step-box1, .step-box2 {
    width: 190px;
    height: 220px;
  }
  .pg5-phone {
    width: 53%;
  }
  .logo-img {
    width: 120px !important;
  }
  .video {
    width: 370px;
    height: 220px;
    top: 64.7%;
}
.phone-border {
  width: 90%;
  max-width: 480px;
}
}
@media(max-width:520px) {
  .tv-frame {
    top: 27%;
  }
}
@media(max-width:480px) {
  .pg2-container {
    gap: 30px;
  }
  .graph-tit {
    gap: 10px;
  }
  .min, .max {
    font-size: 20px;
  }
  .min>span {
    margin-left: 0;
  }
  .max {
    flex-direction: column;
    width: 164px;
    gap: 0;
  }
  .min {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .wave {
    font-size: 32px;
  }
  .year-sale {
    margin-top: 10px;
  }
  .point-div {
    padding: 30px;
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    height: 340px;
    justify-content: center;
  }
  .red, .green, .point-tit {
    font-size: 30px;
  }
  .point-detail {
    padding-top: 30px;
  }
  .point-detail {
    padding-bottom: 10px;
  }
  .red, .green {
    width: 45px;
  }
  .point-detail {
    font-size: 18px;
  }
  .pg3-bottom {
    font-size: 18px;
  }
  .sns-wrap {
    margin-bottom: 20px;
  }
  .pg5-phone {
    width: 57%;
    left: 0;
    top: 40%;
  }
  .pg6-tit {
    width: 90%;
  }
  .phone-border {
    max-width: 430px;
    width: 90%;
  }
  .phone-wrap {
    margin-bottom: 60px;
  }
  .pg8-tit {
    display: none;
  }
  .pg8-mo-tit {
    display: block;
  }
  .pg8-up-tit {
    font-size: 20px;
  }
  .per-tit {
    font-size: 13px;
  }
  .per-box {
    height: 200px;
  }
  .logo-img {
    width: 100px !important;
  }
  .pg11-tit>.up-tit {
    font-size: 30px;
  }
  .pg11-tit>.down-tit {
    font-size: 30px;
  }
  .pg12-tit {
    width: 45%;
  }
  .step-box1, .step-box2 {
    width: 150px;
    height: 150px;
    gap: 15px;
  }
  .step-container {
    gap: 5px;
  }
  .notosans1, .notosans2 {
    font-size: 18px;
  }
  .step-detail {
    font-size: 15px;
  }
  .step-img {
    width: 48px;
  }
  .next-step, .next-step-mo {
    width: 25px;
    height: 25px;
  }
  .step-container>.next-step-div>img {
    margin-right: 5%;
  }
  .step-container>.next-step-div2>img {
    margin-left: 5%;
  }
  .contact-tit {
    width: 100%;
  }
  .agree-modal {
    width: 340px;
    left: calc(50% - 170px);
  }
  #contact button {
    font-size: 24px;
  }
  .contact-up-tit {
    font-size: 20px;
  }
  .tv-frame {
    top: 27.4%;
}
.tv-nav-wrap {
  top: 36%;
}
.video {
  width: 280px;
  height: 160px;
  top: 66.7%;
}
}
@media(max-width:440px) {
  .tv-frame {
    top: 27.7%;
  }
  .video {
    width: 310px;
    height: 170px;
}
}
@media(max-width:400px) {
  .tv-frame {
    top: 28.2%;
  }
  .video {
    width: 290px;
    height: 160px;
  }
}
@media(max-width:390px) {
  .tv-frame {
    top: 28.6%;
  }
  .video {
    width: 260px;
    height: 150px;
  }
}
@media(max-width:350px) {
  .tv-frame {
    top: 28.5%;
  }
}
